<!-- Modal -->
<div class="modal fade" id="printBillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <ngx-loading [show]="printBillLoading"></ngx-loading>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Hóa đơn</h4></div>
            <div class="modal-body">
                <table class="table table-striped" *ngIf="bills">
                    <thead>
                        <tr>
                            <td style="width: 10%">Mã</td>
                            <td style="width: 15%">Số ĐT</td>
                            <td style="width: 15%">Thời gian</td>
                            <td style="width: 15%">Tổng tiền</td>
                            <td style="width: 15%">Trạng thái</td>
                            <td style="width: 25%">Thao tác</td>
                        </tr>
                        <tr *ngIf="filterData">
                            <td><!--<input [(ngModel)]="filterData.id" type="text" value="" class="form-control">--></td>
                            <td><input [(ngModel)]="filterData.phone" (change)="cleanFilterPhone()" mask="0000.000.0009" placeholder="----.---.---" type="text" value="" class="form-control" [maxlength]="setMaxLengPhoneInput(filterData.phone)"></td>
                            <td><input [(ngModel)]="filterData.time" mask="00/00/0000" placeholder="--/--/----" type="text" value="" class="form-control"></td>
                            <td><!--<input [(ngModel)]="filterData.amount" type="text" value="" class="form-control">--></td>
                            <td>
                                <select name="trx-status" id="trx-status" class="form-control" [disabled]="!globalVariables || !globalVariables.trxStatuses" [(ngModel)]="filterData.status">
                                    <option [value]="''">Tất cả</option>
                                    <ng-container *ngIf="globalVariables && globalVariables.trxStatuses">
                                        <option *ngFor="let trxStatus of globalVariables.trxStatuses" [value]="trxStatus.id">{{trxStatus.name}}</option>
                                    </ng-container>
                                </select>
                            </td>
                            <td><span (click)="getPrintingBills();" class="btn btn-primary"><i class="fa fa-search"></i></span></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bill of bills; let i = index">
                            <td>#{{((page - 1) * pageSize) + i + 1}} - {{bill.code}}</td>
                            <td>{{bill.phone | mask: '0000.000.0009'}}</td>
                            <td>{{bill.time}}</td>
                            <td>{{bill.total | appCurrency}}</td>
                            <td>{{bill.status}}</td>
                            <td>
                                <button class="btn btn-success" (click)="print(bill);"><i class="fa fa-print"></i></button>
                                <a *ngIf="!bill.isOffline" class="btn btn-success" href="{{appConfig.ROOT_DOMAIN}}/acp/?site=transactions&act=show&id={{bill.id}}" target="_blank"><i class="fa fa-eye"></i></a>
                                <a *ngIf="!bill.isOffline" class="btn btn-success" href="{{appConfig.ROOT_DOMAIN}}/acp/?site=transactions&act=edit&id={{bill.id}}" target="_blank"><i class="fa fa-edit"></i></a>
                                <button *ngIf="bill.ratingStatus == 0 && globalVariables.checkinEnabled" class="btn btn-success" (click)="openRating(bill)"><i class="fa fa-star"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-container *ngIf="totalRows >= pageSize">
                    <ngb-pagination [maxSize]="5" [boundaryLinks]="true" (pageChange)="pageChange($event)" [collectionSize]="totalRows" [(page)]="page" [pageSize]="pageSize" aria-label="Default pagination"></ngb-pagination>
                </ng-container>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="printBillModalNeedSync" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel2"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <ngx-loading [show]="printBillLoading"></ngx-loading>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel2">Đồng bộ hóa đơn</h4></div>
            <div class="modal-body">
                <table class="table table-striped" *ngIf="bills">
                    <thead>
                    <tr>
                        <td>#</td>
                        <td>Mã</td>
                        <td>Thời gian</td>
                        <td>Tổng tiền</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let bill of bills; let i = index">
                        <td>{{((page - 1) * pageSize) + i + 1}}</td>
                        <td>{{bill.code}}</td>
                        <td>{{bill.time}}</td>
                        <td>{{bill.total | appCurrency}}</td>
                        <td>
                            <button [disabled]="!(connectNetworkService.isConnected | async)" class="btn btn-success" (click)="syncBill(bill)"><i class="fa fa-refresh"></i></button>
                            <button class="btn btn-success" (click)="print(bill);"s><i class="fa fa-print"></i></button></td>
                    </tr>
                    </tbody>
                </table>
                <ng-container *ngIf="totalRows >= pageSize">
                    <ngb-pagination [maxSize]="5" [boundaryLinks]="true" (pageChange)="pageChange($event, true)" [collectionSize]="totalRows" [(page)]="page" [pageSize]="pageSize" aria-label="Default pagination"></ngb-pagination>
                </ng-container>
                <button class="btn btn-primary" *ngIf="totalRows" (click)="syncAll()">Đồng bộ tất cả</button>
            </div>
        </div>
    </div>
</div>
<div id="printing-content" style="display: none">
    <div class="container" *ngIf="selectedBill && globalVariables">
        <div class="row">
            <div class="well col-xs-12">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <address>
                            <ng-container *ngIf="globalVariables.printingCompanyName && globalVariables.appPrintingBill.name=='1'">
                                <strong>{{globalVariables.printingCompanyName}}</strong>
                            </ng-container>
                            <ng-container *ngIf="(currentStaff.store.address || globalVariables.printingCompanyAddress) && globalVariables.appPrintingBill.address=='1'">
                            <br>
                            {{currentStaff.store.address || globalVariables.printingCompanyAddress}}
                            </ng-container>
                            <ng-container *ngIf="(currentStaff.store.phone || globalVariables.printingCompanyPhone) && globalVariables.appPrintingBill.phone=='1'">
                            <br>
                            {{currentStaff.store.phone || globalVariables.printingCompanyPhone}}
                            </ng-container>
                            <ng-container *ngIf="globalVariables.printingWebsite && globalVariables.appPrintingBill.website=='1'">
                            <br>
                            {{globalVariables.printingWebsite}}
                            </ng-container>
                        </address>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <p>
                            <em>Ngày: {{selectedBill.time}}</em>
                        </p>
                        <p>
                            <em>Hóa đơn: {{selectedBill.code}}</em>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <img *ngIf="globalVariables.logoWebsite && globalVariables.appPrintingBill.logo=='1'" src="{{globalVariables.logoWebsite}}" width="180">
                        <h1>Hóa đơn</h1>
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <th class="text-center">Giá</th>
                            <th>SL</th>
                            <th class="text-center">Tổng tiền</th>
                        </tr>
                        <ng-container *ngFor="let item of selectedBill.items">
                        <tr>
                            <td colspan="3">
                                <em>{{item.productName}}</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                {{item.price | appCurrency}}
                                <div style="text-decoration: line-through" *ngIf="+item.oldPrice != +item.price">{{item.oldPrice | appCurrency}}</div>
                            </td>
                            <td class="text-right">{{item.quantity}}</td>
                            <td class="text-right">{{(item.price * item.quantity) | appCurrency}}</td>
                        </tr>
                        </ng-container>
                        <tr class="">
                            <td class="padding-init">
                                <p>
                                    <strong>Thành tiền: </strong>
                                </p>
                            </td>
                            <td class="text-right padding-init">
                                <p>
                                    <strong>{{billService.countQuantity(selectedBill)}}</strong>
                                </p>
                            </td>
                            <td class="text-right padding-init">
                                <p>
                                    <strong>{{selectedBill.amount | appCurrency}}</strong>
                                </p>
                            </td>
                        </tr>
                        <tr class="">
                            <td class="noborder padding-init">
                                <p>
                                    <strong>Giảm giá: </strong>
                                </p>
                            </td>
                            <td class="noborder padding-init">  </td>
                            <td class="text-right noborder padding-init">
                                <p>
                                    <strong>{{selectedBill.discountTotal | appCurrency}}</strong>
                                </p>
                            </td>
                        </tr>
                        <tr  class="">
                            <td class="noborder padding-init">
                                <p>
                                    <strong>Trước thuế: </strong>
                                </p>
                            </td>
                            <td class="noborder padding-init"></td>
                            <td class="text-right noborder padding-init">
                                <p>
                                    <strong>{{selectedBill.amount - selectedBill.discountTotal | appCurrency}}</strong>
                                </p>
                            </td>
                        </tr>
                        <tr  class="">
                            <td class="noborder padding-init">
                                <p>
                                    <strong>Thuế: </strong>
                                </p>
                            </td>
                            <td class="noborder padding-init">  </td>
                            <td class="text-right noborder padding-init">
                                <p>
                                    <strong>{{selectedBill.tax | appCurrency}}</strong>
                                </p>
                            </td>
                        </tr>
                        <tr  class="">
                            <td class="noborder padding-init">
                                <p>
                                    <strong>Tổng: </strong>
                                </p>
                            </td>
                            <td class="noborder padding-init">  </td>
                            <td class="text-right noborder padding-init">
                                <p>
                                    <strong>{{selectedBill.total | appCurrency}}</strong>
                                </p>
                            </td>
                        </tr>
                        <tr  class="">
                            <td class="noborder padding-init">
                                <p>
                                    <strong>Thanh toán: </strong>
                                </p>
                            </td>
                            <td class="noborder padding-init">  </td>
                            <td class="text-right noborder padding-init">
                                <p>
                                    <strong>{{selectedBill.excessCash + selectedBill.total | appCurrency}}</strong>
                                </p>
                            </td>
                        </tr>
                        <tr  class="">
                            <td class="noborder padding-init">
                                <p>
                                    <strong>Trả lại: </strong>
                                </p>
                            </td>
                            <td class="noborder padding-init">  </td>
                            <td class="text-right noborder padding-init">
                                <p>
                                    <strong>{{selectedBill.excessCash | appCurrency}}</strong>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <h6 style="text-align:center;">
                            Cảm ơn quý khách.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
