a {cursor: pointer;}
img {max-width: 100%;}
body, html {height: 100%;}
body{
    font-family: "ProximaNova", sans-serif;
    background-position: 50% 0; 
    font-weight: normal;
    font-size: 18px;
    position: relative;
    padding: 0 0;
    margin: 0 0;
    height: 100%;
    overflow: hidden;
}

.preview-toolbar{
    background: #324a5e;
    color: #fff;
}
.preview-toolbar a{
    font-size: 12px;
    padding: 5px 10px;
    display: inline-block;
    height: 40px;
    line-height: 30px;
    color: #fff;
    position: relative;
}
.top-tollbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.preview-toolbar .btn>.fa{
    padding-right: 10px;
}
.btn-close-bar.btn>.fa{
    padding-right: 0;
}
.preview-toolbar .btn.btn-orange, 
.preview-toolbar a.btn.btn-orange{
    line-height: 18px;
    height: 30px;
    vertical-align: top;
    padding: 0 20px;
    background-color: #e95a24;
    color: #ffffff;
    margin: 5px 0;
}
.preview-toolbar a.btn.btn-orange{
    font-size: 14px;
    line-height: 30px;
}
.preview-toolbar .btn.btn-orange:hover,.preview-toolbar .btn.btn-orange:focus{
    background-color: #ff7b0a;
}
.preview-toolbar .btn.btn-black{
    line-height: 40px;
    height: 40px;
    vertical-align: top;
    padding:0 20px;
    background-color: transparent;
    color: #ffffff;
    border-radius:0;
}
.preview-toolbar .btn.btn-black:hover,.preview-toolbar .btn.btn-black.active{
    background-color: #213b4f;

}
a.btn.btn-close-bar {

}
a.logo-bar {

}

.preview-toolbar .btn.btn-black:hover{
    background-color: #213b4f;
    text-decoration: none;
}

.toolbar-right{
    text-align:right;
}
.toolbar-center{
    text-align: left;
}
#theme-demo {
    height: 100%;
    width: 100%;
}
#theme-wrapper {
    position: relative;
    width: 100%;
    height: calc(100% - 40px);
    text-align: center;
}
#theme-container {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: cubic-bezier(0.605, 0.195, 0.175, 1);
    -moz-transition-timing-function: cubic-bezier(0.605, 0.195, 0.175, 1);
    transition-timing-function: cubic-bezier(0.605, 0.195, 0.175, 1);
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
#theme-container iframe
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    border: none;
    *width: 100%;
}
#theme-container #page-404
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    border: none;
    *width: 100%;
    background: #000 url(../images/404/bg.jpg) no-repeat center top;
}
#theme-container #page-404 img{
    margin: 30px auto;
}
@media (max-height: 677px){
    #theme-container {
        margin-top: 0 !important;
        top: 0 !important;
    }
}